<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

      <link rel="shortcut icon" href="/img/favicon.png" />

      <!-- bootstrap css link -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

      <!-- font link -->
      <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300" rel="stylesheet">

      <!-- link to my stylesheet -->
      <link rel="stylesheet" type="text/css" href="../css/style.css" />
      <link rel="stylesheet" type="text/css" href="../css/animate.css" />

      <!--    Link to sweetalert-->
      <script src="/js/sweetalert2.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/sweetalert2.min.css">

      <title>DnD Roller</title>

   </head>
   <body>


      <div id="header">
         <div class="container">
            <a href="/"><img id="logo" src="/img/d8.png" alt=""></a>
            {{#if user}}
            <a href="/users/logout"><p>Logout</p></a>
            <a href="/users/saved"><p>My Rolls</p></a>
            {{else}}
            <a href="/users/login"><p>Login/Register</p></a>
            {{/if}}
            <a href="/about"><p>About</p></a>
         </div>
      </div>
      <div class="container">
            {{{body}}}
            {{> alerts}}
      </div>
      <div style="height: 100px"></div>



      <!-- bootstrap js links -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
   </body>
</html>
