<h1>About</h1>
<p>DnD Roller is a NodeJS/Express dice-rolling app to help you have more fun playing Dungeons and Dragons (or any tabletop RPG really). You can register an account, login, and create/save custom rolls for weapons.</p>
<p>Version: 1.0.0</p></br>
<a href="https://github.com/Doug-May" target="_blank"><img id="doug" src="img/doug.jpg"></a><p>Made by Doug May</p>
