<div class="row userWindow">
   <div class="col-md-6 mx-auto">
      <div class="card card-body">
         <h1 style="margin-bottom:15px;" class="text-center">Create Custom Roll</h1>
         <form method="post" action="/users/add">
            <div class="form-group">
               <label for="name"><p>Name of Custom Roll</p></label>
               <input type="text" class="form-control" name="name" placeholder="...." maxlength="25" required>
            </div>
            <div class="form-group">
               <label for="number"><p>Number Of Dice</p></label>
               <input type="text" class="form-control" name="number" value="" maxlength="2" placeholder="1">
            </div>
            <div class="form-group">
               <label for="type"><p>Dice Type</p></label>
               <select id="diceType" name="type">
                  <option value="20"><p>d20</p></option>
                  <option value="12"><p>d12</p></option>
                  <option value="10"><p>d10</p></option>
                  <option value="8"><p>d8</p></option>
                  <option value="6"><p>d6</p></option>
                  <option value="4"><p>d4</p></option>
                  <option value="100"><p>d100</p></option>
               </select>
            </div>
            <div class="form-group">
               <label for="modifier"><p>Modifier</p></label>
               <input type="text" class="form-control" name="modifier" value="" maxlength="10" placeholder="0">
            </div>
            <div style="height: 20px;"></div>
            <h1 style="margin-bottom:15px;" class="text-center">Add Damage Roll (Optional)</h1>
            <div class="form-group">
               <label for="damageNumber"><p>Number Of Dice</p></label>
               <input type="text" class="form-control" name="damageNumber" value="" maxlength="2" placeholder="1">
            </div>
            <div class="form-group">
               <label for="type"><p>Dice Type</p></label>
               <select id="diceType" name="damageType">
                  <option value="4"><p>d4</p></option>
                  <option value="6"><p>d6</p></option>
                  <option value="8"><p>d8</p></option>
                  <option value="10"><p>d10</p></option>
                  <option value="12"><p>d12</p></option>
                  <option value="20"><p>d20</p></option>
                  <option value="100"><p>d100</p></option>
               </select>
            </div>
            <div class="form-group">
               <label for="damageModifier"><p>Modifier</p></label>
               <input type="text" class="form-control" name="damageModifier" value="" maxlength="10" placeholder="0">
            </div>
            <div class="form-group">
               <input type="checkbox" id="damage" name="includeDamage">
               <label for="coding"><p>Include Damage Roll?</p></label>
            </div>
            <button class="accent" type="submit" name="button"><p>Submit</p></button>
         </form>
      </div>
   </div>
</div>
