<div class="row userWindow">
   <div class="col-md-6 mx-auto">
      <div class="card card-body">
         <h1 style="margin-bottom:15px" class="text-center">Account Login</h1>
         <form method="post" action="/users/login">
            <div class="form-group">
               <label for="email"><p>Email</p></label>
               <input type="email" class="form-control" name="email" value="" required>
            </div>
            <div class="form-group">
               <label for="password"><p>Password</p></label>
               <input type="password" class="form-control" name="password" value="" required>
            </div>
            <button class="accent" type="submit" name="button"><p>Submit</p></button>
         </form>
      </div>
   </div>
</div>
<div class="container text-center">
   <p style="margin-top:-15px;">Don't have an account? click <a href="/users/register"><span class"accent">here</span></a> to create one.</p>
</div>
